<nav class="navbar navbar-expand-md  fixed-top bg-dark">


      <span class="navbar-brand h1 clar" >  <img src="../../../assets/imagenes/Logo_Ticsmile.png" alt="B" width="50" height="34"> Clarity </span>


<a routerLink="/home" outerLinkActive="active-link" class="nav-link" class="btn btn-dark">Inicio</a>
<a routerLink="/pagina1" outerLinkActive="active-link" class="nav-link" class="btn btn-dark">Quienes Somos?</a>
<a routerLink="/pagina2" outerLinkActive="active-link" class="nav-link" class="btn btn-dark">Recursos</a>
<a routerLink="/ayuda" outerLinkActive="active-link" class="nav-link" class="btn btn-dark">Ayuda</a>
<a routerLink="/login" outerLinkActive="active-link" class="nav-link" class="btn btn-dark d-block mr-0 ml-auto"> <img src="../../../assets/imagenes/Icono_user.png" alt="B" width="30" height="30">Iniciar Sesion</a>

</nav>
