<app-navmenu></app-navmenu>


<br><br><br>

  <body>

<main>
  <h1 class="visually-hidden">TicSmile</h1>

  <div class="px-4 py-5 my-5 text-center">
    <img src="../../../assets/imagenes/Logo_Ticsmile.png" class="bd-placeholder-img rounded-circle" alt="B"  width="140" height="140"  >
    <h1 class="display-5 fw-bold">TicSmile</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">TicSmile es una empresa 100% mexicana, creada el 5 de Enero del 2023 con la finalidad de buscar seguridad, tranquilidad y paz a las familias creando proyectos profecionales e innovadores.  </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Facebook</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" src="https://mail.google.com/mail/u/0/?ogbl#inbox?compose=DmwnWrRqjCCHXBCwcBwlVShzFgBKtcnszmDlhpJtrSHpZXBDrksXXBspzLNLjkZJXLvnBcsldhFb">Correo Electronico</button>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Mision</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Proporcionar seguridad y tranquilidad a nuestros clientes.
        Para ello trabajamos en un ambiente de confianza total, donde el servicio ofrecido es un fiel reflejo de nuestra eficacia y eficiencia empresarial.</p>
    </div>


  </div>


  <div class="b-example-divider"></div>



  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Vision</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Ser una empresa líder en desarrollo de tecnologías adaptándonos a las cambiantes condiciones de mercado y a las demandas y necesidades de nuestros clientes.</p>
    </div>

  </div>



  <div class="b-example-divider"></div>



  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Valores</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">TicSmile es muy consciente de los valores dentro de la empresa, que son:<br>

        &rarr;  Responsabilidad.<br>

        &rarr;  Vocación de servicio.<br>

        &rarr;  Compromiso.<br>

        &rarr;  Trabajo en Equipo.<br>

        &rarr;  Confianza.<br>
        </p>
    </div>


  </div>




  <div class="b-example-divider"></div>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Metodo de Trabajo</h1>
        <p class="col-lg-10 fs-4">El metodo que utilizamos es Scrum que es un marco de gestión de proyectos de metodología ágil que ayuda a los equipos a estructurar y gestionar el trabajo mediante un conjunto de valores, principios y prácticas.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">

        <img src="https://miguelgarcia.me/wp-content/uploads/2019/07/AGILE-Graphic02-e1562316300244.jpg" alt="B"  width="540" height="380"  >
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Problematica por la cual trabajamos</h1>
        <p class="lead">Actualmente la seguridad en el país no es muy confiable y escasa, por el cual los clientes busacan no tener en riesgo su hogar y a sus clientes , para no contar con perdidas.<br>
          Por ello es fundamental contar con una tecnología donde se pueda monitorear la seguridad familiar o de negocios desde una aplicación movil.</p>

      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="https://www.segurmaniazurekin.eus/a/2019/08/segurmania-seguridadcasas-640-320x240.jpg" alt="" width="420">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Integrantes del Equipo TicSmile</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
         * Manager: Carlos Dioney. <br>
         * Programadora: Ivana Garcia. <br>
         * Programador: Gersson Bautista. <br>
         * Desarrollador de Base de Datos: Carlos Fernando. <br>
         * Analista: Gabriela Paniagua. <br>
         * Diseñador:Kevin Joseph. <br>
         * Diseñadora: Blanca Estela. <br>
         * Tester: Gabriela Yessica. <br>

        </p>

      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>
</main>


  </body>

